<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
    <div class="container-fluid d-flex flex-column p-3"><a
        class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-5" href="#">
        <div class="sidebar-brand-icon rotate-n-0"><img class="rounded-circle" src="/img/dogs/logo.jpg" sizes="50">
        </div>
        <div class="sidebar-brand-text "></div>

      </a>
      <hr class="sidebar-divider ">
      <ul class="navbar-nav text-light" id="accordionSidebar"><span>
        <!-- id="main_menu"id="user_table"id="propperty_table" -->

          <li class="nav-item"><a class="nav-link" href="/dashbord"> 
            
            <h4>Main menu</h4></a>
          </li>
          <li class="nav-item" ><a class="nav-link" href="/user_con">
            <!-- <i class="far fa-user-circle"></i> -->
            <h5>User table</h5></a>
          </li>
            <li class="nav-item" ><a class="nav-link" href="/prop_con">
              <!-- <i class="far fa-user-circle"></i> -->
              <h5>Property table</h5></a>
            </li>
            <li class="nav-item" ><a class="nav-link" href="/new_prop_ent">
              <!-- <i class="far fa-user-circle"></i> -->
              <h5>New Property entry</h5></a>
            </li>
            
          



          <li class="nav-item" id="creat_user" ><a class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal3" >
            <!-- <i class="far fa-user-circle"></i> -->
            <h5>CreatUser</h5></a>
          </li>
          <!-- <li class="nav-item" id="user_apv" ><a class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal3">
            
            <h5>Pending user apv</h5></a>
          </li>
          <li class="nav-item" id="prop_apv" ><a class="nav-link" >
            
            <h5>Pending prop apv</h5></a>
          </li> -->

          <li class="nav-item" id="log_out"><a class="nav-link" href="logout">
            <!-- <i class="far fa-user-circle"></i> -->
            <h5>Logout</h5></a>
          </li>


      </ul>

      <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle"
          type="button"></button></div>
    </div>
  </nav>