

<% if(success_msg && success_msg != '') { %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert"><center><%= success_msg %></center>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
<% } else if(error_msg && error_msg != '') { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert"><center><%= error_msg %></center>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
<% } %>





