div.scrollmenu {
 
  overflow: auto;
  white-space: nowrap;
  
}





.sidebar.sidebar-dark.accordion.bg-gradient-primary {
  background: rgb(217,20,66);
}

.bg-gradient-primary {
  background-color: #d91442;
  background-image: linear-gradient(180deg, #d91442 10%, #da0a3b 100%);
  background-size: cover;
}

/* multy step form */
* {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding: 0
}
.fixed-top {
  position: fixed;
  top: 100;
  right: 0;
  left: 0;
  z-index: 9;
}

html {
  height: 100%
}

p {
  color: grey
}

#heading {
  text-transform: uppercase;
  color: #673AB7;
  font-weight: normal
}

#msform {
  text-align: center;
  position: relative;
  margin-top: 20px
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding-bottom: 20px;
  position: relative
}

.form-card {
  text-align: left
}

#msform fieldset:not(:first-of-type) {
  display: none
}

#msform input,
#msform textarea {
  padding: 8px 15px 8px 15px;
  border: 1px solid #ccc;
  border-radius: 0px;
  margin-bottom: 25px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  background-color: #ECEFF1;
  font-size: 16px;
  letter-spacing: 1px
}

#msform input:focus,
#msform textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #673AB7;
  outline-width: 0
}

#msform .action-button {
  width: 100px;
  background: #673AB7;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 0px 10px 5px;
  float: right
}

#msform .action-button:hover,
#msform .action-button:focus {
  background-color: #311B92
}

#msform .action-button-previous {
  width: 100px;
  background: #616161;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px 10px 0px;
  float: right
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
  background-color: #000000
}

.card {
  z-index: 0;
  border: none;
  position: relative
}

.fs-title {
  font-size: 25px;
  color: #673AB7;
  margin-bottom: 15px;
  font-weight: normal;
  text-align: left
}

.purple-text {
  color: #673AB7;
  font-weight: normal
}

.steps {
  font-size: 25px;
  color: gray;
  margin-bottom: 10px;
  font-weight: normal;
  text-align: right
}

.fieldlabels {
  color: gray;
  text-align: left
}

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: lightgrey
}

#progressbar .active {
  color: #673AB7
}

#progressbar li {
  list-style-type: none;
  font-size: 15px;
  width: 25%;
  float: left;
  position: relative;
  font-weight: 400
}

#progressbar #account:before {
  font-family: FontAwesome;
  content: "\f13e"
}

#progressbar #personal:before {
  font-family: FontAwesome;
  content: "\f007"
}

#progressbar #payment:before {
  font-family: FontAwesome;
  content: "\f030"
}

#progressbar #confirm:before {
  font-family: FontAwesome;
  content: "\f00c"
}

#progressbar li:before {
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 20px;
  color: #ffffff;
  background: lightgray;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px
}

#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: lightgray;
  position: absolute;
  left: 0;
  top: 25px;
  z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: #673AB7
}

.progress {
  height: 20px
}

.progress-bar {
  background-color: #673AB7
}

.fit-image {
  width: 100%;
  object-fit: cover
}
#preview {
  margin-top: 20px;
}
.preview-image {
  display: inline-block;
  margin-right: 10px;
}
.preview-image img {
  max-width: 100px;
  max-height: 100px;
  display: block;
}

.vl {
  border-left: 1px solid rgb(236, 230, 230);
  height: 20px;
}
.vl2 {
  border-left: 1px solid rgb(236, 230, 230);
  height: 40px;
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  z-index: 2; /* Ensure the preloader appears on top of other content */
  /* Additional styling (e.g., centering, spinner styles) */
}


.navbar-brand::selection {
  color: #fff;
  background: #187fcc;
  text-shadow: 1px 1px 1px #333;
}

ol,
ul,
li {
  list-style-type: none;
}

.totop {
  position: fixed;
  bottom: 0px;
  right: 10px;
  height: 45px;
  width: 45px;
  cursor: pointer;
  display: none;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  border-radius: 5px 5px 0 0;
  line-height: 47px;
  font-size: 20px;
  text-align: center;
}

.totop:hover {
  line-height: 40px;
  color: #fff;
  background: #194274;
  text-shadow: 0 0 5px #000;
}

/* ==== Scoll  = End ===== */




/* ==== Header  = Start ===== */
.header_part {
  background: #0c1e2e;
  padding: 5px 80px;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 3;
}

.header_part h4 {
  color: #fff;
  padding: 10px;
}

.header_part img {
  float: left;
  height: 60px;
  border-radius: 50%;
}

/* ==== Header  = End ===== */






/* ==== Data table  = Start ===== */

.data_table{
 background: #fff;
  padding: 15px;
  box-shadow: 1px 3px 5px #aaa;
  border-radius: 5px;
  margin-bottom: 5rem;
}

.data_table .btn{
  padding: 5px 10px;
  margin: 10px 3px 10px 0;
}



/* ==== Data table  = End  ===== */

.dataTables_wrapper .dataTables_length select {
  border: 1px solid #aaa;
  border-radius: 3px;
   padding: 0px; 
  background-color: transparent;
   padding-right: 30px; 
}
.dataTables_wrapper .dataTables_length {
  float: none;
}

@media (min-width: 768px) {
  .sidebar {
      width: 12vw !important;
     
  }
  h5, .h5 {
    font-size: 1rem !important;
}
h4, .h4 {
  font-size: 1rem !important;
}
td, .td {
  font-size: .9rem !important;
}

}























